{% extends "layout.html" %}
{% block title %}Vote form{% endblock title %}
{% block script %}
<script>
function checkChoice() {
    // 보기가 선택되지 않은 상태에서 전송했을 때 전송되지 않도록 처리.
    choiceList = document.vote_form.choice; // choice 라디오버튼들을 조회 (Node List-배열로 반환)
    cnt = 0;
    for(let i=0; i<choiceList.length;i++) {
        // 라디오버튼의 checked 속성(check여부를 boolean으로 반환)의 값이 True인지 확인
        if (choiceList[i].checked) {
            cnt++;
            break;
        }
    }
    if (cnt==1) {
        return true;
    }else{
        alert("보기를 하나 선택하세요.")
        return false;
    }
}
</script>
{% endblock script %}
{% block contents %}
<h1>설문 폼</h1>
<h2>{{question.pk}}. {{question.question_text}}</h2>

{% if error_message != None %}
    <div style="color: red;">
        {{error_message}}
    </div>
{% endif %}

<form action="{% url 'poll:vote' %}" method="post" name="vote_form" onsubmit="return checkChoice()">
    {% csrf_token %} {# post 방식 요청 시 반드시 넣어줘야 한다. -보안관련설정. csrf공격을 방지하기 위한 토큰값 생성 #}

    <input type="hidden" name='question_id' value="{{question.pk}}">

    {% for choice in question.choice_set.all %}
        <input type='radio' name="choice" value="{{choice.pk}}" id="{{choice.pk}}">
        <label for="{{choice.pk}}">{{choice.Choice_text}}</label><br>
    {% empty %}
        등록된 보기가 없습니다.
    {% endfor %}
    <button type='submit'>투표</button>
    <button type='reset'>초기화</button>
</form>
{% endblock contents %}
